# Export all names
## exportPattern(".")

export("cancor.phylog", "lm.phylog", "read.pdi.data", "cor.origin",
"matrix.D", "read.phylip.data", "phylog.gls.fit", "read.phylog.matrix",
"read.sim.data", "read.inp.data", "prcomp.phylog")

S3method(plot, phylog.cancor)
S3method(plot, phylog.lm)
S3method(plot, phylog.prcomp)
S3method(prcomp, phylog)
S3method(print, summary.phylog.cancor)
S3method(print, summary.phylog.lm)
S3method(print, summary.phylog.prcomp)
S3method(summary, phylog.cancor)
S3method(summary, phylog.lm)
S3method(summary, phylog.prcomp)


importFrom("graphics", "abline", "hist", "legend", "lines", "par",
           "plot")
importFrom("stats", "cancor", "drop.scope", "lm", "lm.fit", "lm.wfit",
           "model.matrix", "prcomp", "predict", "quantile",
           "weighted.residuals")
importFrom("utils", "read.table")


